<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Mission to Mars</title>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  />
</head>
<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1><b>Mission to Mars</b></h1>
      <p><a class="btn btn-info btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <!-- Mars News -->
    <div class="row" id="mars-news">
      <div class="col-md-12">
        <div class="media">
          <div class="media-body">
            <h3><b>Latest Mars News</b></h3>
            <h4 class="media-heading">{{mars.news_title}}</h4>
            <p>{{ mars.news_paragraph }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Featured Image -->
    <div class="row" id="mars-featured-image">
      <div class="col-md-8">
        <h3><b>Featured Mars Image</b></h3>
        <img 
          src="{{ mars.featured_image }}" 
          class="img-responsive" 
          alt="Responsive image">
      </div>
      <!-- Mars Facts -->
      <div class="col-md-4">
        <!-- Mars Facts -->
        <div class="row" id="mars-facts">
          <h3><b>Mars Facts</b></h3>
          {{ mars.facts | safe }}
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="col-md-12">
        <div class="row">
          <h3 style="text-align:center"><b>Mars Hemispheres</b></h3>
          <hr>
          {% for item in mars.hemispheres %}
          <div class="col-md-3">
            <div class="thumbnail">
                <img 
                  src="{{ item.img_url }}" 
                  class="img-responsive" 
                  alt="Responsive image"
                  style = "width:100%">
                <div class="caption">
                  <p><b>{{ item.title }}</b></p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <hr>
    </div>
  </div>
</body>
</html>